body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
.about-section h1 {
    color: aliceblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.container p {
    color: black;
}

.column {
    flex: 1;
    max-width: 20%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.image-container {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    padding: 16px;
}

.title {
    color: white;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
