.doctor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.doctor-card {
  background-color: white;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.doctor-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.doctor-details {
  padding: 15px;
  overflow: hidden;
}

.doctor-details h2,
.doctor-details p {
  margin: 5px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
