.profile-container {
  background-color: #f9f9f9;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container h1,
.profile-container p {
  color: #333;
  margin: 10px 0;
}

.appointment-list {
  margin-top: 20px;
}

.appointment-list p {
  background-color: #e7e7e7;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
